.vscode
exercises/ex_2/2.1
dois_vetores.exe
Media_Matriz.exe
Manipular_Matriz.exe
Quantidade_Valores.exe
Multiplicacao_Matriz.exe
Matriz_Transposta.exe
Manipular_Matriz.exe
3.1.exe
hello
dois_vetores
idades
idades_media
imc
imc-func
pesquisa_idade
Quantidade_Valores
3.1
IntroducaoString.exe
ContarString.exe
ContarStringInserir.exe
Matriz_Transposta
2QuestaoStruct.exe
2QuestaoSTruct
5.3.exe
6.1.exe
1.exe